# Level2 Task1
# Table Booking and Online Delivery

In [2]:
import pandas as pd
df = pd.read_csv("Dataset .csv")
pd.set_option('display.max_columns', None)

Determine the percentage of restaurants thatoffer table booking and online delivery.

In [3]:
df.sample()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
5539,18238245,Malhotra's Zayeeka,1,New Delhi,"Shop 23, Sudama Market, Moti Nagar, New Delhi",Moti Nagar,"Moti Nagar, New Delhi",77.13919,28.657457,"North Indian, Chinese",500,Indian Rupees(Rs.),No,No,No,No,2,0.0,White,Not rated,1

In [4]:
df["Restaurant ID"].count(),df["Restaurant ID"].nunique()

(np.int64(9551), 9551)

In [5]:
#Restraunts offering Table Booking Percentage
print((df["Restaurant ID"][df["Has Table booking"]=="Yes"].count()/df["Restaurant ID"].count())*100)

12.124384881164275

In [6]:
#Restraunts offering Online Delivery
print((df["Restaurant ID"][df["Has Online delivery"]=="Yes"].count()/df["Restaurant ID"].count())*100)

25.662234321013504

Compare the average ratings of restaurants with table booking and those without.

In [7]:
df["Aggregate rating"].describe()

count    9551.000000
mean        2.666370
std         1.516378
min         0.000000
25%         2.500000
50%         3.200000
75%         3.700000
max         4.900000
Name: Aggregate rating, dtype: float64

In [8]:
df["Aggregate rating"][df["Has Table booking"]=="Yes"].mean(), df["Aggregate rating"][df["Has Table booking"]=="No"].mean()

(np.float64(3.4419689119170984), np.float64(2.559358989634219))

Analyze the availability of online delivery among restaurants with different price ranges.

In [9]:
df["Price range"].describe()

count    9551.000000
mean        1.804837
std         0.905609
min         1.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         4.000000
Name: Price range, dtype: float64

In [10]:
df["Price range"].unique()

array([3, 4, 2, 1])

In [11]:
df[["Has Online delivery", "Price range"]].groupby(by="Price range").value_counts().reset_index()


"""
Note that as price range increases Online delivery decreases. This can be possibly because in higher price restraunts
or so called elite/posh restraunts the usual customers are elites and businessmen who prefer to visit the place
for meetings etc rather than getting food delivered to their home.
"""

'\nNote that as price range increases Online delivery decreases. This can be possibly because in higher price restraunts\nor so called elite/posh restraunts the usual customers are elites and businessmen who prefer to visit the place\nfor meetings etc rather than getting food delivered to their home.\n'

# Level2 Task2
# Price Range Analysis

Determine the most common price range among all the restaurants.

In [12]:
df["Price range"].mode()

0    1
Name: Price range, dtype: int64

Calculate the average rating for each price range.

In [13]:
df[["Price range", "Aggregate rating"]].groupby(by="Price range").mean().reset_index().rename(columns={"Aggregate rating": "Average Rating"})

   Price range  Average Rating
0            1        1.999887
1            2        2.941054
2            3        3.683381
3            4        3.817918

Identify the color that represents the highest average rating among different price ranges.

In [14]:
rating_df = df[["Price range", "Aggregate rating", "Rating color"]]

In [15]:
df["Rating color"].unique()

array(['Dark Green', 'Green', 'Yellow', 'Orange', 'White', 'Red'],
      dtype=object)

In [16]:
average_ratings = rating_df.groupby("Price range")["Aggregate rating"].mean().reset_index()
average_ratings

   Price range  Aggregate rating
0            1          1.999887
1            2          2.941054
2            3          3.683381
3            4          3.817918

In [19]:
result = pd.merge(average_ratings, rating_df[["Price range", "Rating color"]].drop_duplicates(), on="Price range")
result

    Price range  Aggregate rating Rating color
0             1          1.999887       Yellow
1             1          1.999887        White
2             1          1.999887       Orange
3             1          1.999887   Dark Green
4             1          1.999887        Green
5             1          1.999887          Red
6             2          2.941054   Dark Green
7             2          2.941054       Orange
8             2          2.941054       Yellow
9             2          2.941054        Green
10            2          2.941054        White
11            2          2.941054          Red
12            3          3.683381   Dark Green
13            3          3.683381        Green
14            3          3.683381       Yellow
15            3          3.683381       Orange
16            3          3.683381        White
17            3          3.683381          Red
18            4          3.817918        Green
19            4          3.817918   Dark Green
20            4          3.817918       Yellow
21            4          3.817918       Orange
22            4          3.817918        White
23            4          3.817918          Red

In [20]:
highest_avg_rating = result.loc[result["Aggregate rating"].idxmax()]
highest_avg_rating

Price range                4
Aggregate rating    3.817918
Rating color           Green
Name: 18, dtype: object

# Level2 Task3
# Feature Engineering

Extract additional features from the existingcolumns, such as the length of the restaurantname or address.

In [21]:
df.sample()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
6024,305135,Le Fairway Restaurant & Bar,1,New Delhi,"Hotel Le Roi 2206, Rajguru Road, Chuna Mandi, ...",Paharganj,"Paharganj, New Delhi",77.210778,28.644237,"North Indian, Continental",1000,Indian Rupees(Rs.),Yes,No,No,No,3,3.1,Orange,Average,17

In [ ]:
df["name length"] = df["Restaurant Name"].apply(len)

df.sample()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,name length
715,2500079,d' Curry House,1,Aurangabad,"Hotel Green Olive, Near Baba Petrol Pump, Nira...","Hotel Green Olive, Nirala Bazar","Hotel Green Olive, Nirala Bazar, Aurangabad",75.316722,19.875337,"Continental, Chinese, Biryani, North Indian",1000,Indian Rupees(Rs.),No,No,No,No,3,3.6,Yellow,Good,73,14

In [23]:
df["address length"] = df["Address"].apply(len)

df.sample()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,name length,address length
4074,18440175,Radhey Radhey Foods,1,New Delhi,"D-500, West Vinod Nagar, Near Apex Hospital, I...",IP Extension,"IP Extension, New Delhi",77.302966,28.626482,North Indian,500,Indian Rupees(Rs.),No,No,No,No,2,0.0,White,Not rated,2,19,68

Create new features like "Has Table Booking" or "Has Online Delivery" by encoding categorical variables.

In [24]:
def encoder(x):
    if x=="No":
        return 0
    else:
        return 1

In [25]:
df["Has Table booking"] = df["Has Table booking"].apply(encoder)
df.sample()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,name length,address length
7796,18376497,Always Eat Green,1,New Delhi,"A-60 New Ashok Nagar, Vasundhara Enclave, New ...",Vasundhara Enclave,"Vasundhara Enclave, New Delhi",77.307898,28.590123,"North Indian, South Indian, Chinese",300,Indian Rupees(Rs.),0,No,No,No,1,0.0,White,Not rated,0,16,51

In [26]:
df["Has Online delivery"] = df["Has Online delivery"].apply(encoder)
df.sample()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,name length,address length
5634,309471,Chinese Delights,1,New Delhi,"12, DDA Commercial Complex, Munirka, New Delhi",Munirka,"Munirka, New Delhi",77.175016,28.555671,"Chinese, North Indian",400,Indian Rupees(Rs.),0,1,No,No,1,3.5,Yellow,Good,21,16,46